@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@400;700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
  --bg-main:#131722;
  --light-bg:#24baef;
  --main-font:"Montserrat Alternates", sans-serif;
  --text-color:#fff;
  --border-color:#a8a8a83d;
}
.bg-light-prim{
  background-color: var(--light-bg);
}

body{
  background-color: var(--bg-main);
  font-family: var(--main-font);
  color: var(--text-color);

}

a,a:hover{
  color: var(--text-color);
  text-decoration: none;
}

.input-mine{
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--border-color)
}

.Rating{
  background-color: var(--light-bg);
}

.brdr{
  height: 1px;
  background-color: var(--border-color);
}
